<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
a 
{
	text-decoration: none ;
}

button 
{
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	/*margin: 10% 10%;*/
	border: none;
	cursor: pointer;
	width: 100;
}
</style>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Eir Hospitals</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="/about">About</a></li>
	      <li><a href="/contact">Contact</a></li>
	    </ul>
	  </div>
	</nav>

	<div class="container-fluid">
	<form action="http://127.0.0.1:5000/new_user" method="POST">
		<button type="submit" style="text-align: center;">New User</button>
		
	</form>
	<br>
	<br>
	<form action="http://127.0.0.1:5000/existing_user" method="POST">
		<button type="submit" style="text-align: center;">Existing User Login</button>
	</form>
</div>
</body>
</html>
